{% extends 'core/base.html' %}

{% block title %}Acerca_de{% endblock %}

{% block background %}{% load static%}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
 <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Jose De La Cruz</h2>   
          <p style= text-align: justify>Nacido en Shushufindi/sucumbíos/Ecuador, Graduado con honores en Técnico en la administración de sistemas informáticos en la unidad educativa “11 De Julio” ciudad de Shushufindi.</p>
          <p>José Pastor De La Cruz Zambrano, Estudiante de la Universidad Técnica de Manabí, cursando la de ing. Sistemas de la Información Aspirando al conocimiento para llegar a crear programas u objetos que ayuden a la sociedad y Aspirante a Desarrollador de videojuegos AAA.</p>
        </div>
      </div>  
    </div>

{% endblock %}